@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.min-vh-100 {
  min-height: 100vh;
}

.list-group-item.active {
  background-color: #047857;
  border-color: #047857;
}

.btn-primary {
  background-color: #047857;
  border-color: #047857;
}

.btn-primary:hover {
  background-color: #036146;
  border-color: #036146;
}

.text-primary {
  color: #047857 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
